@font-face {
    font-family: roboto-mono;
    src: url('./assets/fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: reckless;
    src: url('./assets/fonts/RecklessCondensedS-TRIAL-Book.woff');
}

@font-face {
    font-family: figtree;
    src: url('./assets/fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2');
}

@font-face {
    font-family: midnight;
    src: url('./assets/fonts/midnight-sans-rd-12-medium-trial.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: reckless;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #fbf9eb;
}


header {
    background: url('./assets/images/AlpineBerry.webp');
    background-size: 135%;
    background-position: 50% 25%;
    height: 95vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #201C1A;

    position: relative;
}

header .header-top,
header .header-bottom {
    width: 100%;
}

header .header-bottom {
    color: #fbf9fb;
    width: 37%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
}

header .header-bottom h1 {
    font-size: 5.25rem;
    font-weight: 400;
}

header .header-bottom p {
    font-family: figtree;
    font-size: 1.125rem;
}

header .header-bottom .shop-now {
    background: #2A2857;
    color: #fbf9eb;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.9rem 3.7rem;
    border-radius: 2rem;
    font-family: figtree;
}

header .move-down-arrow {
    background: #2A2857;
    padding: 1rem;
    color: #fbf9eb;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    right: 1.5rem;
    bottom: -1.5rem;
}

header .offer-strip {
    background-color: #2A2857;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.45rem;
}

header .offer-strip h3 {
    font-family: roboto-mono;
    font-size: 0.75rem;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-transform: uppercase;
}

header .navbar {
    padding: 1rem;
}

nav {
    width: 100%;
    background-color: #fffefb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem;
    border: 1px solid #201C1A;
    border-radius: 0.75rem;
    height: 4rem;
    box-shadow: 0 10px 10px #201C1A22;
}

nav .nav-left {
    width: 30%;
}

nav .nav-left ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
    font-size: 1rem;
}

nav .nav-left ul li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav .nav-left ul li .arrow {
    background: #c0dbff;
    border: 1px solid #201C1A;
    border-radius: 50%;
    color: #201C1A;
    font-size: 1rem;
}

nav .nav-left ul li .smile {
    color: #FFB500;
    font-size: 1.5rem;
}

nav .nav-left ul li a {
    text-decoration: none;
    color: #201C1A;
    font-size: 1.5rem;
    font-weight: 400;
}


nav .nav-logo {
    object-fit: contain;
}

nav .nav-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav .nav-right ul li {
    list-style: none;
    cursor: pointer;
}

nav .nav-right ul li a {
    font-family: roboto-mono;
    font-size: 0.75rem;
    text-decoration: none;
    color: #201C1A;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

nav .nav-right ul li .cart-ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-right ul li i {
    font-size: 2rem;
    font-weight: 100;
}

nav .nav-right ul li span {
    font-size: 0.8rem;
    background-color: #FFB500;
    border: 1px solid #4F3C15;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    margin-left: -10px;
    font-weight: bold;
}

.catchy-line {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 4rem;

}

.catchy-line h2 {
    color: #201C1A;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

.catchy-line h2 span {
    font-style: italic;
}

.best-sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4rem;
}

.best-sellers .title {
    background-color: #DAAEEA;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.best-sellers .cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
    padding: 4rem 2rem;
}

.best-sellers .cards .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.2rem;
    width: 22%;
}

.best-sellers .cards .card .card-img {
    border: 1px solid #201C1A;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 0rem;
}


.best-sellers .cards .card .card-img .p-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2rem;
}

.best-sellers .cards .card .card-img .p-image img {
    width: 80%;
}

.best-sellers .cards .card .card-img .car-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sellers .cards .card .card-img .car-top-content h3 {
    font-family: midnight;
    text-transform: uppercase;
    background: #fff;
    color: #201C1A;
    border: 1px solid #201C1A;
    font-size: 1.3rem;
    width: fit-content;
    border-radius: 0.4rem;
    padding: 0.3rem;
    font-weight: 500;
}

.best-sellers .cards .card .card-img .car-top-content .rating {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
}

.best-sellers .cards .card .card-img .card-bottom-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.best-sellers .cards .card .card-img .car-top-content .rating i,
.best-sellers .cards .card .card-img .car-top-content .rating span {
    font-family: figtree;
    font-weight: 400;
    font-size: 0.8rem;
}

.best-sellers .cards .card .card-img .add-bt {
    font-family: figtree;
    background: #fff;
    color: #201C1A;
    border: 1px solid #201C1A;
    border-radius: 0.6rem;
    padding: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    height: 3rem;
    width: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-sellers .cards .card .card-img .add-bt i,
.best-sellers .cards .card .card-img .add-bt span {
    font-family: figtree;
}

.best-sellers .cards .card1 .card-img {
    background-color: #c1ee91;
}

.best-sellers .cards .card2 .card-img {
    background-color: #FFD884;
}

.best-sellers .cards .card3 .card-img {
    background-color: #b0e8c1;
}

.best-sellers .cards .card4 .card-img {
    background-color: #C1E4F8;
}

.best-sellers .cards .card5 .card-img {
    background-color: #C0E571;
}

.best-sellers .cards .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding-block: 1.2rem;
}

.best-sellers .cards .card .card-content h3 {
    font-family: reckless;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.best-sellers .cards .card .card-content h4,
.best-sellers .cards .card .card-content p {
    font-family: figtree;
    font-size: 0.87;
    font-weight: 400;
}