@font-face {
    font-family: roboto-mono;
    src: url('./assets/fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: reckless;
    src: url('./assets/fonts/RecklessCondensedS-TRIAL-Book.woff');
}

@font-face {
    font-family: figtree;
    src: url('./assets/fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2');
}

@font-face {
    font-family: midnight;
    src: url('./assets/fonts/midnight-sans-rd-12-medium-trial.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: reckless;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #fbf9eb;
}


header {
    background: url('./assets/images/AlpineBerry.webp');
    background-size: 135%;
    background-position: 50% 25%;
    height: 95vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #201C1A;

    position: relative;
}

header .header-top,
header .header-bottom {
    width: 100%;
}

header .header-bottom {
    color: #fbf9fb;
    width: 37%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
}

header .header-bottom h1 {
    font-size: 5.25rem;
    font-weight: 400;
}

header .header-bottom p {
    font-family: figtree;
    font-size: 1.125rem;
}

header .header-bottom .shop-now {
    background: #2A2857;
    color: #fbf9eb;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.9rem 3.7rem;
    border-radius: 2rem;
    font-family: figtree;
}

header .move-down-arrow {
    background: #2A2857;
    padding: 1rem;
    color: #fbf9eb;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    right: 1.5rem;
    bottom: -1.5rem;
}

header .offer-strip {
    background-color: #2A2857;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.45rem;
}

header .offer-strip h3 {
    font-family: roboto-mono;
    font-size: 0.75rem;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-transform: uppercase;
}

header .navbar {
    padding: 1rem;
}

nav {
    width: 100%;
    background-color: #fffefb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem;
    border: 1px solid #201C1A;
    border-radius: 0.75rem;
    height: 4rem;
    box-shadow: 0 10px 10px #201C1A22;
}

nav .nav-left {
    width: 30%;
}

nav .nav-left ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
    font-size: 1rem;
}

nav .nav-left ul li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav .nav-left ul li .arrow {
    background: #c0dbff;
    border: 1px solid #201C1A;
    border-radius: 50%;
    color: #201C1A;
    font-size: 1rem;
}

nav .nav-left ul li .smile {
    color: #FFB500;
    font-size: 1.5rem;
}

nav .nav-left ul li a {
    text-decoration: none;
    color: #201C1A;
    font-size: 1.5rem;
    font-weight: 400;
}


nav .nav-logo {
    object-fit: contain;
}

nav .nav-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav .nav-right ul li {
    list-style: none;
    cursor: pointer;
}

nav .nav-right ul li a {
    font-family: roboto-mono;
    font-size: 0.75rem;
    text-decoration: none;
    color: #201C1A;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

nav .nav-right ul li .cart-ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-right ul li i {
    font-size: 2rem;
    font-weight: 100;
}

nav .nav-right ul li span {
    font-size: 0.8rem;
    background-color: #FFB500;
    border: 1px solid #4F3C15;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    margin-left: -10px;
    font-weight: bold;
}

.best-sellers-catchy-line {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 4rem;

}

.best-sellers-catchy-line h2 {
    color: #201C1A;
    font-size: 4.351rem;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

.catchy-line h2 span {
    font-style: italic;
}

.best-sellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-block: 4rem;
}

.best-sellers .title {
    background-color: #DAAEEA;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.best-sellers .cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;

    width: 100%;
    padding: 4rem 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.best-sellers .cards .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.2rem;
    width: 22%;
    flex-shrink: 0;
    flex-wrap: 0;
}

.best-sellers .cards .card .card-img {
    border: 1px solid #201C1A;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 0rem;
}


.best-sellers .cards .card .card-img .p-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2rem;
    flex: 1;
}

.best-sellers .cards .card .card-img .p-image img {
    width: 70%;
    transition: all ease 0.3s;
    cursor: pointer;
}

.best-sellers .cards .card .card-img .p-image img:hover {
    transform: scale(1.1);
}

.best-sellers .cards .card .card-img .card-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sellers .cards .card .card-img .card-top-content h3 {
    font-family: midnight;
    text-transform: uppercase;
    background: #fff;
    color: #201C1A;
    border: 1px solid #201C1A;
    font-size: 1.3rem;
    width: fit-content;
    border-radius: 0.4rem;
    padding: 0.3rem;
    font-weight: 500;
}

.best-sellers .cards .card .card-img .card-top-content .rating {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
}

.best-sellers .cards .card .card-img .card-bottom-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.best-sellers .cards .card .card-img .card-top-content .rating i,
.best-sellers .cards .card .card-img .card-top-content .rating span {
    font-family: figtree;
    font-weight: 400;
    font-size: 0.8rem;
}

.best-sellers .cards .card .card-img .add-bt {
    font-family: figtree;
    background: #fff;
    color: #201C1A;
    border: 1px solid #201C1A;
    border-radius: 0.6rem;
    padding: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    height: 3rem;
    width: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-sellers .cards .card .card-img .add-bt i,
.best-sellers .cards .card .card-img .add-bt span {
    font-family: figtree;
}

.best-sellers .cards .card1 .card-img {
    background-color: #c1ee91;
}

.best-sellers .cards .card2 .card-img {
    background-color: #FFD884;
}

.best-sellers .cards .card3 .card-img {
    background-color: #b0e8c1;
}

.best-sellers .cards .card4 .card-img {
    background-color: #C1E4F8;
}

.best-sellers .cards .card5 .card-img {
    background-color: #C0E571;
}

.best-sellers .cards .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-block: 1.2rem;
    height: 200px;
}

.best-sellers .cards .card .card-content h3 {
    font-family: reckless;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.best-sellers .cards .card .card-content h4,
.best-sellers .cards .card .card-content p {
    font-family: figtree;
    font-size: 0.875rem;
    font-weight: 400;
}

.best-sellers .explore-all {
    background: #2A2857;
    color: #fbf9eb;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.9rem 3.7rem;
    border-radius: 2rem;
    font-family: figtree;
    cursor: pointer;
    border: 1px solid #201C1A;

}

.best-sellers .explore-all:hover {
    background: #fff;
    color: #201C1A;
}

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem 19rem;
}

.discover-catchy-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.discover-catchy-line h2 {
    color: #201C1A;
    font-size: 3.75rem;
    font-weight: 300;
    width: 80%;
}

.discover-catchy-line h2 span {
    font-style: italic;
}

.discover .discover-txt .title {
    background-color: #FF7F31;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.discover .input-box {
    border: 1px solid #201C1A;
    border-radius: 0.6rem;
    padding: 1.25rem 2rem;

    display: flex;
    gap: 1rem;
}

.discover .input-box input {
    background: transparent;
    font-size: 2rem;
    font-weight: 400;
    outline: 0;
    border: none;
    width: 18vw;
    flex: 1;
}

.discover .input-box input:focus {
    width: 55vw;
}

.discover .input-box i {
    font-size: 2rem;
    color: #201C1A;
    opacity: 0.6;
    font-weight: 100;
    display: none;
}

.discover .input-box input:not(:placeholder-shown)+i {
    display: inline-block;
}

.tags-section h5 {
    font-family: figtree;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding-block: 6rem 2rem;
    color: #201C1A;
    font-weight: 400;
}

.tags-section .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tags-section .tags button {
    border: 1px solid #201C1A;
    border-radius: 0.6rem;
    background-color: #DAEAFF;
    padding: 0.2rem 1rem;
    color: #000;
    font-size: 1.9rem;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.tags-section .tags button:hover {
    background-color: #A2c9fc;
}

.origins {
    background-image: url('./assets/images/tree-background.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 240vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
}

.origins .top-ic {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-right: 10vw;
    transform: translate(0%, -40%);
}

.origins .top-ic img {
    height: 150px;
    width: 150px;
    aspect-ratio: 1/1;
}

.origins .title {
    background-color: #A2c9fc;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.origins .Attraction-text {
    font-size: 8.25rem;
    font-family: midnight;
    font-weight: 400;
    line-height: 8rem;
    color: #fff;
    text-transform: uppercase;
    width: 40vw;
    text-align: center;
    letter-spacing: normal;
}

.origins .Attraction-subtext {
    font-size: 3.75rem;
    color: #fff;
    text-align: center;
    width: 86vw;
    line-height: 4.313rem;
    font-weight: 300;
    letter-spacing: -0.1px;
}

.origins .features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.origins .features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 150px;
}

.origins .features .feature img {
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
}

.origins .features .feature h5 {
    font-family: roboto-mono;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.origins button {
    padding: 0.7rem 3rem;
    background-color: #fff;
    font-family: figtree;
    font-size: 1.125rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid #201C1A;
}

.origins button:hover {
    background-color: #2A2857;
    color: #fff;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 6rem 4rem;
}

.reviews .reviews-txt {
    padding-inline: 15rem;
}

.reviews-catchy-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 15rem;
}

.reviews-catchy-line h2 {
    color: #201C1A;
    font-size: 3.75rem;
    font-weight: 300;
    width: 75%;
}

.reviews-catchy-line h2 span {
    font-style: italic;
}

.reviews .reviews-txt .title {
    background-color: #73bc25;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.reviews .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-block: 4rem;
}

.reviews .cards .card {
    width: 18vw;
    height: 60vh;
    border: 1px solid #201C1A;
    border-radius: 0.8rem;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.reviews .cards .card .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1rem;
}

.reviews .cards .card .center h3,
.reviews .cards .card .center h6 {
    text-align: center;
    font-weight: 300;
}


.reviews .cards .card .center h6 {
    font-family: figtree;
    font-size: 0.875rem;
    opacity: 0.6;
}

.reviews .cards .card .bottom {
    border: 1px solid #201C1A;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;
    padding-inline: 1rem;
}

.reviews .cards .card .bottom img {
    width: 45px;
    height: auto;
    padding-block: 1rem;
    object-fit: contain;
}

.reviews .cards .card .bottom .separator {
    width: 1px;
    background: #201C1A;
    height: 100%;
}

.reviews .cards .card .bottom h3 {
    font-family: roboto-mono;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8rem;
    padding-block: 1rem;
    color: #201C1A;
}

.reviews .cards .card .bottom button {
    font-family: figtree;
    font-size: 1.125rem;
    font-weight: 400;
    background: #fff;
    border: 1px solid #201C1A;
    padding: 0.5rem;
    border-radius: 2rem;
}

.reviews .cards .card1 .bottom {
    background-color: #EA6D44;
}

.reviews .cards .card1 .bottom h3 {
    color: #fff;
}

.reviews .cards .card2 .bottom {
    background-color: #73BC25;
}

.reviews .cards .card3 .bottom {
    background-color: #FFB500;
}

.reviews .cards .card4 .bottom {
    background-color: #8BC045;
}

.reviews .cards .card5 .bottom {
    background-color: #C790DB;
}

.reviews .cards .card1 {
    background-color: #f5a58a;
    font-size: 2rem;
}


.reviews .cards .card2 {
    background-color: #abdf74;
    font-size: 1.5rem;
}

.reviews .cards .card3 {
    background-color: #ffd265;
    font-size: 1.5rem;
}

.reviews .cards .card4 {
    background-color: #ade674;
    font-size: 2rem;
}

.reviews .cards .card5 {
    background-color: #d9c2e1;
    font-size: 2rem;
}


.journal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 6rem 4rem;
}

.journal .journal-txt {
    padding-inline: 15rem;
}

.journal-catchy-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 15rem;
}

.journal-catchy-line h2 {
    color: #201C1A;
    font-size: 3.75rem;
    font-weight: 300;
    width: 95%;
}

.journal-catchy-line h2 span {
    font-style: italic;
}

.journal .journal-txt .title {
    background-color: #FFB500;
    text-transform: uppercase;
    border: 1px solid #201C1A;
    padding: 0.2rem;
    transform: rotate(-2deg);
    font-size: 3.75rem;
    font-family: midnight;
    font-weight: 500;
    line-height: 3.75rem;
    border-radius: 0.5rem;
}

.journal .cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-block: 4rem;
    padding-left: 1rem;
}

.journal .cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}

.journal .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #201C1A;
    border-radius: 0.8rem;
    border-radius: 0.8rem;
}

.journal .cards .card .content-box {
    background-color: #c0dbff;
    width: 100%;
    height: 5rem;
    border-top: 1px solid #201C1A;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.journal .cards .card .content-box h4 {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-family: roboto-mono;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.journal .cards .card .img {
    width: 19vw;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.journal .cards .card .img .card-top-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;
}

.journal .cards .card .img .card-top-content h3 {
    font-family: midnight;
    text-transform: uppercase;
    background: #fff;
    color: #201C1A;
    border: 1px solid #201C1A;
    font-size: 1.3rem;
    width: fit-content;
    border-radius: 0.4rem;
    padding: 0.1rem 0.3rem;
    font-weight: 500;
}

.journal .cards .card .card1-img {
    background-image: url('./assets/images/journal1.svg');
    background-color: #2A2857;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.journal .cards .card .card2-img {
    background-image: url('./assets/images/journal2.jpeg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.journal .cards .card .card3-img {
    background-image: url('./assets/images/journal3.jpeg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.journal .cards .card .card4-img {
    background-image: url('./assets/images/journal4.svg');
    background-color: #2A2857;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.journal .cards .card .card5-img {
    background-image: url('./assets/images/journal5.svg');
    background-color: #2A2857;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.journal .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.journal .explore-tea-journal {
    background: #2A2857;
    color: #fbf9eb;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.9rem 3.7rem;
    border-radius: 2rem;
    font-family: figtree;
    cursor: pointer;
    border: 1px solid #201C1A;

}

.journal .explore-tea-journal:hover {
    background: #fff;
    color: #201C1A;
}

.about-us {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/images/our-cafe-background.webp');
    background-size: 130%;
    background-position: 30% 40%;
}

.about-us .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.about-us .left {
    height: 90vh;
    width: 28vw;
    background-color: #f26412;
    border-radius: 1rem;
    border: 1px solid #201C1A;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.about-us .left h2 {
    font-weight: 400;
    font-size: 3.75rem;
    color: #fff;
    width: 15vw;
}

.about-us .left .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-end;
}

.about-us .left .bottom h4 {
    font-family: figtree;
    color: #fff;
    opacity: 0.9;
    font-size: 1.375rem;
    font-weight: 400;
}

.about-us .left .bottom .about {
    background: #fff;
    color: #201C1A;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    font-family: figtree;
    cursor: pointer;
    border: 1px solid #201C1A;
}

.about-us .left .bottom .about:hover {
    background: #2A2857;
    color: #fbf9eb;
}

footer {
    background-color: #C0DBFF;
    padding-block: 2rem;
}

footer .footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10rem;
    padding-inline: 2rem;
    height: 30vh;
}

footer .footer-top .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

footer .footer-top .left h2 {
    font-family: midnight;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}

footer .footer-top .left h3 {
    font-size: 2rem;
    color: #201C1A;
    font-weight: 300;
    opacity: 0.7;
    letter-spacing: -0.16px;
    width: 40vw;
}

footer .footer-top .left .input-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

footer .footer-top .left .input-section input {
    background: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #201C1A;
    width: 23vw;
    padding: 1rem;
    border-radius: 0.7rem;
    font-family: figtree;
    outline: 0;
}

footer .footer-top .left .input-section input::placeholder {
    color: #201C1A;
    opacity: 0.3;
}

footer .footer-top .left .input-section button {
    background: #2A2857;
    color: #fbf9eb;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    font-family: figtree;
    cursor: pointer;
    border: 1px solid #201C1A;
}

footer .footer-top .left .input-section button:hover {
    background-color: #FFB500;
}

footer .footer-top .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

footer .footer-top .right .social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .footer-top .right .social-icons .social {
    border: 1px solid #201C1A;
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-top .right .social-icons .social:hover {
    background: #fff;
}

footer .footer-top .right .social-icons .social img {
    height: 1.5rem;
    width: 1.5rem;
}

footer .footer-center {
    padding: 4rem 2rem;
}

footer .footer-center .center-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;

    border-radius: 0.7rem;
    background-color: #2A2857;
    padding: 1rem;
}

footer .footer-center .center-content .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

footer .footer-center .center-content .heading h4 {
    font-size: 1.5rem;
    color: #fbf9eb;
    font-weight: 400;
}

footer .footer-center .center-content .heading ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    gap: 0.2rem;
}

footer .footer-center .center-content .heading ul li {
    list-style-type: none;
}

footer .footer-center .center-content .heading ul li a {
    font-family: figtree;
    font-size: 1.125rem;
    font-weight: 400;
    color: #fbf9eb;
    opacity: 0.4;

    text-decoration: none;
}

.footer-bottom {
    height: 60vh;
    width: 100vw;

    background-image: url('./assets/images/footer-background.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom img {
    height: 7vw;
}

.footer-bottom h6 {
    font-family: roboto-mono;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    width: 16vw;
    letter-spacing: 0.6px;
    line-height: 0.875rem;
    text-transform: uppercase;
}